importFrom(MASS, mvrnorm)
importFrom(boot, boot)
importFrom(stats, glm)
importFrom(stats, family)
importFrom(stats, binomial)
importFrom(stats, gaussian)
importFrom(stats, Gamma)
importFrom(stats, inverse.gaussian)
importFrom(stats, poisson)
importFrom(stats, quasi)
importFrom(stats, quasibinomial)
importFrom(stats, quasipoisson)

export( dims, 
        gsource,
        help.zelig, 
        plot.ci,
        plot.zelig,
        rocplot, 
	setx,
	sim,
	ternarypoints, 
	user.prompt, 
        zelig
)
	
S3method("$", vglm)
S3method("$", summary.vglm)
S3method("$<-", vglm)
S3method("$<-", summary.vglm)
S3method(formula, vglm)
S3method(names, relogit)
S3method(names, summary.zelig.relogit)
S3method(names, vglm)
S3method(names, zelig)
S3method(names, zelig.relogit)
S3method(plot, zelig)
S3method(plot.zelig, beta)
S3method(plot.zelig, blogit)
S3method(plot.zelig, bprobit)
S3method(plot.zelig, exp)
S3method(plot.zelig, gamma)
S3method(plot.zelig, logit)
S3method(plot.zelig, lognorm)
S3method(plot.zelig, ls)
S3method(plot.zelig, mlogit)
S3method(plot.zelig, negbin)
S3method(plot.zelig, normal)
S3method(plot.zelig, ologit)
S3method(plot.zelig, oprobit)
S3method(plot.zelig, probit)
S3method(plot.zelig, poisson)
S3method(plot.zelig, relogit)
S3method(plot.zelig, weibull)
S3method(print, BetaReg)
S3method(print, names.relogit)
S3method(print, names.zelig)
S3method(print, relogit)
S3method(print, relogit2)
S3method(print, summary.relogit)
S3method(print, summary.relogit2)
S3method(print, summary.MI)
S3method(print, summary.strata)
S3method(print, summary.zelig.strata)
S3method(print, summary.lm.robust)
S3method(print, summary.glm.robust)
S3method(print, summary.MCMCZelig)
S3method(print, summary.zelig)
S3method(print, zelig)
S3method(repl, zelig)
S3method(sim, default)
S3method(sim, cond)   
S3method(sim, counter)
S3method(sim, setx.MI)
S3method(sim, setx.strata)
S3method(setx, default)
S3method(setx, noX)
S3method(setx, MI)
S3method(setx, strata)
S3method(setx, relogit2)
S3method(summarize, array)
S3method(summarize, ei)
S3method(summary, BetaReg)
S3method(summary, MI)
S3method(summary, strata)   
S3method(summary, relogit)   
S3method(summary, relogit2)   
S3method(summary, setx.cond)
S3method(summary, setx)   
S3method(summary, zelig.strata)
S3method(summary, MCMCZelig)   
S3method(summary, zelig)   
S3method(summary, lm.robust)   
S3method(summary, glm.robust)   
S3method(terms, vglm)
S3method(vcov, BetaReg)
S3method(vcov, lm)
S3method(vcov, relogit)
S3method(vcov, lm.robust)
S3method(vcov, glm.robust)
   

